{% extends 'base.html.twig' %}

{% block title %}The District : Plats{% endblock %}

{% block body %}

<ul>
    {% for plat in plats %}
        <li>{{ plat.libelle }} - {{ plat.description }} - {{ plat.prix }} €</li>
    {% else %}
        <p>Aucun plat disponible</p>
    {% endfor %}
</ul>

{% endblock %}
