{% extends 'base.html.twig' %}

{% block title %}The District : Catégories{% endblock %}

{% block body %}
<ul>

    {% for category in categories %}
        <li>{{ category.libelle }} - {{ category.image }}</li>
    {% else %}
        <p>Aucune catégorie disponible</p>
    {% endfor %}
</ul>

{% endblock %}
