body {
  top: 0;
  color: rgb(0, 0, 0);
  background-color: #d9b08c;
  background-image: url(/assets/img/grain.png);
  background-size: 300px 300px;
  background-position: 0 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: "Nunito", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif;
}

.font-title {
  font-family: "Roboto", serif;
}

/* ------------ !!!!!!!!!!! - Navbar - !!!!!!!!!!! ------------ */

nav {
  top: 0;
  padding: 10px 20px;
  width: 80%;
  margin: 0% 15% 0% 10%;

  background: rgba(0, 0, 0, 0.411);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 0px 0px 10px 10px;
  border: 0px 0px 1px 1px solid rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: 0px 18px 69px -42px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 18px 69px -42px rgba(66, 68, 90, 1);
  box-shadow: 0px 18px 69px -42px rgba(66, 68, 90, 1);

  transition: height 0.3s ease;
  overflow: hidden;
  z-index: 2000;
}

nav ul {
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 6px;
}

nav ul li a.active {
  text-decoration: underline;
}

nav ul li a:hover {
  transition: 150ms;
  color: #e24189;
}

#logo_nav {
  width: 120px;
}

#shopping_nav {
  width: 40px;
  height: 40px;
  filter: invert(1);
}

#btn-nav-div {
  display: none;
  justify-content: space-around;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

#cart_logo_mobile {
  display: none;
}

#cart_logo_footer {
  position: fixed;
  right: 2%;
  transform: translateX(-50%);
  transition: height 0.3s ease;
  border-radius: 50%;
  padding: 3px;
  background-color: #9707487a;
  transition: 150ms;
}
#cart_logo_footer img {
  width: 60px;
  height: 60px;
  filter: invert(1);
}
#cart_logo_footer:hover {
  background-color: #970748;
}
@media (max-width: 930px) {
  nav ul li a {
    padding: 0px;
    margin: 0;
  }
}

@media (max-width: 830px) {
  #cart_logo_footer img {
    width: 44px;
    height: 44px;
  }

  #logo_mobile_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  nav {
    flex-direction: column;
    height: 55px;
    margin: 0% 10% 0% 5%;
    width: 90%;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    order: 8;
    flex: 8;
    text-align: center;
  }

  nav ul li {
    margin: 5px;
  }

  #btn-nav-div {
    display: flex;
    padding-right: 77px;
  }

  #cart_logo_desktop {
    display: none;
  }

  #cart_logo_mobile {
    display: block;
  }
}

/* ------------ !!!!!!!!!!! - Header - !!!!!!!!!!! ------------ */

#logo_header {
  margin-top: 50px;
  max-width: 460px;
  width: 100%;
  height: auto;
}

#input_search {
  max-width: 500px;
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  transition: all 0.3s ease;
}

#input_search:focus {
  border-color: #970747;
  box-shadow: 0 0 8px #970747;
  outline: none;
}

#input_search::placeholder,
.contact_form input::placeholder,
#contact_form_message::placeholder {
  color: #888;
  font-style: italic;
}

#input_search:hover {
  border-color: #970747;
}

#search_result {
  width: 100%;
  max-width: 450px;
  position: absolute;
  top: calc(100% + -10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #c42d2d;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.767);
  -webkit-box-shadow: 0px 0px 16px -4px #000000;
  box-shadow: 0px 0px 16px -4px #000000;
  transition: 150ms;
  display: none;
}
.result_result {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
  margin: 5px 0px;
  text-decoration: none;
  color: black;
  transition: 150ms;
  background-color: rgba(177, 177, 177, 0.705);
}

.result_result:hover {
  background-color: #970747;
}

.result_result h6 {
  margin: 0;
  text-decoration: none;
}

/* ------------ !!!!!!!!!!! - Footer - !!!!!!!!!!! ------------ */

footer {
  background-color: rgba(10, 10, 10, 0.616);
}

#footer_links_container ul,
#footer_social_container ul,
#footer_l-p_container ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  color: rgb(255, 255, 255, 0.7);
  transition: 120ms;
}

footer ul li a.active {
  position: relative;
  text-decoration: none;
}

footer ul li a.active::after {
  content: "•";
  font-size: 1.2em;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

#footer_social_container {
  gap: 20px;
}

#footer_social_container img:hover {
  filter: invert(0.3);
  transition: 120ms;
}

@media (max-width: 510px) {
  #footer_links_container ul {
    flex-direction: column;
    align-items: center;
  }
  #footer_l-p_container {
    flex-direction: column;
    align-items: center;
  }
}

/* ------------ !!!!!!!!!!! - Accueil - !!!!!!!!!!! ------------ */

#btn_accueil_plats {
  padding: 10px 20px;
  background-color: #ffcd83;
  border-radius: 4px;
  transition: 150ms;
  box-shadow: 0px 0px 20px -18px;
}

#btn_accueil_plats:hover {
  background-color: #ffb340;
}

.fixed_img_carousel_index {
  height: 200px;
}

.carousel_back {
  background-color: rgba(255, 255, 255, 0.705);
}
.carousel_back:hover {
  color: black;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: grayscale(100%) brightness(0) contrast(100%);
}

/* ------------ !!!!!!!!!!! - Plats & Categories - !!!!!!!!!!! ------------ */

.erreur_bdd {
  background-color: #ffffff7c;
  padding: 25px;
  margin: 15px 0px 15px 0px;
  border-radius: 8px;
}

.cards_index_plat {
  width: 350px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.705);
  margin: 15px;
  -webkit-box-shadow: 0px 0px 16px -4px #000000;
  box-shadow: 0px 0px 16px -4px #000000;
}

.cards_index_plat_img {
  width: 200px;
  height: 200px;
  border-radius: 4px;
}

.cards_index_plat_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn_commande_plat {
  padding: 10px 20px;
  margin: 7% 5% 0% 5%;
  text-decoration: none;
  background-color: #ffcd83;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 150ms;
  box-shadow: 0px 0px 20px -18px;
}

.btn_commande_plat:hover {
  background-color: #ffb340;
  transition: 100ms;
  border-inline: 3px solid black;
}

#plat_show_card {
  background-color: rgba(255, 255, 255, 0.705);
  margin: 50px 0 50px 0;
  -webkit-box-shadow: 0px 0px 16px -4px #000000;
  box-shadow: 0px 0px 16px -4px #000000;
}

#plat_show_card_enter {
  margin: 30px;
}

#plat_show_card_enter img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

/* ------------  */

.cards_index_categories {
  width: 800px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.705);
  margin: 15px;
  -webkit-box-shadow: 0px 0px 16px -4px #000000;
  box-shadow: 0px 0px 16px -4px #000000;
}

.cards_index_categories:hover,
.cards_index_plat:hover,
#plat_show_card:hover {
  outline: 2px solid #970747;
  transition: 100ms;
  -webkit-box-shadow: 0px 0px 16px -4px #970747;
  box-shadow: 0px 0px 16px -4px #970747;
}

.cards_index_categories_content {
  margin: 5px;
  width: 100%;
}

.cards_index_categories_content ul {
  list-style: none;
}

.cards_index_categories_content li {
  padding: 10px;
  margin: 15px 0px 15px 0px;
}

.cards_index_categories_content a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffcd83;
  transition: 150ms;
}

.cards_index_categories_content a:hover {
  background-color: #ffb340;
  transition: 100ms;
}

.cards_index_categories_img {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;
  margin: 0px 0px 30px 10px;
  background-color: #f0f0f0;
}

.cards_index_categories_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- */

@media (max-width: 768px) {
  .cards_index_categories {
    width: 500px;
    height: auto;
  }

  .cards_index_categories_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards_index_categories_img {
    width: 200px;
    height: 200px;
  }

  .cards_index_categories_content ul {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .cards_index_categories_content li {
    margin: 5px 0;
  }

  .cards_index_categories_content a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #ffcd83;
    transition: 150ms;
    display: inline-block;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .cards_index_categories_img {
    width: 160px;
    height: 160px;
  }

  .cards_index_categories_content a {
    padding: 5px 10px;
  }
}

/* ------------ !!!!!!!!!!! - Auth : Inscription / connexion - !!!!!!!!!!! ------------ */

#auth_inscription input,
#auth_login input,
.contact_form input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  transition: all 0.3s ease;
}
#auth_inscription label,
#auth_login label {
  margin-top: 5px;
}

#auth_inscription input:focus,
#auth_login input:focus,
.contact_form input:focus,
.contact_form textarea:focus {
  border-color: #970747;
  box-shadow: 0 0 8px #970747;
  outline: none;
}

#auth_inscription input::placeholder,
#auth_login input::placeholder {
  color: #888;
  font-style: italic;
}

#auth_inscription input:hover,
#auth_login input:hover,
.contact_form input:hover,
.contact_form textarea:hover {
  border-color: #970747;
}
#auth_inscription button {
  margin: 20px 0px 20px 0px;
}

.error_auth_login {
  font-size: 16pt;
}

.btn_auth,
.contact_submit_btn {
  background-color: #ffcd83 !important;
  color: #000000 !important;
  border: none !important;
  border-radius: 16px !important;
  box-shadow: 0px 0px 20px -18px !important;
  transition: 150ms !important;
}

.btn_auth:hover,
.contact_submit_btn:hover {
  background-color: #ffb340 !important;
  color: black !important;
  transition: 100ms !important;
}

.btn_auth:active,
.btn_auth:focus,
.contact_submit_btn:active,
.contact_submit_btn:focus {
  background-color: #ffdeab !important;
  color: black !important;
}

.contact_submit_btn:valid {
  background-color: #ffdeab !important;
  color: black !important;
}

#auth_inscription li {
  list-style: none;
  margin-top: 5px;
  color: red;
}

/* ------------ !!!!!!!!!!! - Gestion (Page pour les roles chef et admin) - !!!!!!!!!!! ------------ */

.btn_access {
  /* position: fixed; */
  bottom: 50px;
  right: 0px;
  padding: 10px 20px;
  margin: 7% 5% 0% 5%;
  background-color: #ffcd83;
  border-radius: 4px;
  transition: 150ms;
  box-shadow: 0px 0px 20px -20px;
}

.btn_access:hover {
  background-color: #ffb340;
  box-shadow: 0px 0px 20px -18px;
}

#plat-select,
#commande-select {
  background-color: #ffcd83;
  border: none;
  width: 100%;
  max-width: 400px;
  padding: 8px 0px;
}
#plat-select:hover {
  background-color: #ffb340;
}

.ges_modifier_plat {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #ffcd83;
  color: #000;
}

#img_box_gestion {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
}

#img_box_gestion img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/* ------------ !!!!!!!!!!! - Commande (Panier) - !!!!!!!!!!! ------------ */

.command_cards {
  width: 300px;
  height: 460px;
  background-color: rgba(255, 255, 255, 0.705);
  margin: 15px;
  -webkit-box-shadow: 0px 0px 16px -4px #000000;
  box-shadow: 0px 0px 16px -4px #000000;
}
.command_cards input {
  max-width: 100px;
  width: 100%;
  padding: 4px 6px;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.command_cards input:hover {
  border-color: #970747;
}
.command_cards input:focus {
  border-color: #970747;
  box-shadow: 0 0 8px #970747;
  outline: none;
}

.command_cards a,
.command_info_btn_edit {
  padding: 5px 10px;
  text-decoration: none;
  background-color: #ffcd83;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 150ms;
  box-shadow: 0px 0px 20px -18px;
}

.command_info_btn_del:hover {
  background-color: rgb(252, 69, 69);
  transition: 100ms;
}

.command_info_btn_edit:hover {
  background-color: rgb(69, 252, 69);
  transition: 100ms;
}

/* ---- */

#btn_command_valide {
  background-color: rgb(69, 252, 69);
}
#btn_command_delete {
  background-color: rgb(252, 69, 69);
}

#btn_command_valide,
#btn_command_delete {
  margin: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 150ms;
  box-shadow: 0px 0px 20px -18px;
}

#btn_command_valide:hover {
  box-shadow: 0px 0px 28px -18px;
  background-color: rgb(152, 253, 152);
}

#btn_command_delete:hover {
  box-shadow: 0px 0px 28px -18px;
  background-color: rgb(253, 156, 156);
}

#btn_edit_adresse {
  background-color: #ffcd83;
  text-decoration: none;
  padding: 5px 10px;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 150ms;
  box-shadow: 0px 0px 20px -18px;
}

#btn_edit_adresse:hover {
  background-color: #ffb340;
}

/* ------------ !!!!!!!!!!! - Profil - !!!!!!!!!!! ------------ */

.card_profil_commande {
  background-color: rgba(255, 255, 255, 0.705);
  margin: 15px;
  -webkit-box-shadow: 0px 0px 16px -4px #000000;
  box-shadow: 0px 0px 16px -4px #000000;
}

#btn_delete_profil,
#btn_confirm_profil {
  background-color: rgb(252, 69, 69);
  text-decoration: none;
  width: 240px;
  height: 50px;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 150ms;
  box-shadow: 0px 0px 20px -18px;
}

#btn_delete_profil:hover,
#btn_confirm_profil:hover {
  background-color: rgb(253, 156, 156);
}

#profil_edit_section form {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

#profil_edit_section form div {
  width: 100%;
  max-width: 400px;
}

#profil_edit_section input {
  width: 100%;
  margin: 5px 0;
  padding: 8px 12px;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  transition: all 0.3s ease;
}

#profil_edit_section input:hover {
  border-color: #970747;
}
#profil_edit_section input:focus {
  border-color: #970747;
  box-shadow: 0 0 8px #970747;
  outline: none;
}

#profil_edit_section input::placeholder {
  font-style: italic;
}
#profil_edit_section button {
  padding: 5px 20px;
  margin-top: 20px;
  text-decoration: none;
  background-color: #ffcd83;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 150ms;
  box-shadow: 0px 0px 20px -18px;
}

#profil_edit_section button:hover {
  background-color: #ffb340;
}
