{% extends 'base.html.twig' %}

{% block title %}The District : Contact{% endblock %}


{% block body %}

<div class="text-center text-danger mt-5 mb-5">
    <h1 class="display-5">Une erreur est survenue !</h1>
            <p>Veuillez vérifier les informations saisies et réessayer.</p>

    <a class="link-info " href="/"> Retournée a l'accueil </a>
</div>

{% endblock %}
